Body {
    font-family: 'Montserrat';
    background-color: #E4E3E3;
    /* overflow: hidden; */
    max-width: 100%;


}

#title {
    /* background-color:#fa496c; */
    background-color: #325b66;




}

.iphone-mockup {
    width: 15rem;
    height: 30rem;
    padding: top 0px;
    right: 20%;
    margin-top: 0rem;
    transform: rotate(20deg);
    transition: width 1s, height 1s, transform 1s;
    /* border-radius: 5%; */
    position: absolute;


}

.iphone-mockup:hover {
    transform: rotate(-10deg);


}



h1 {
    size: 3rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;

}

/* Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    /* padding:2rem 2rem; */
    padding: 0 0 4.5rem;
}

.navbar {
    padding-bottom: 3.5rem;
}

.nav-item {
    padding: 0px 15px;
}

.nav-link {
    font-size: 1.2rem;
    /* font-weight:; */
    font-family: "montserrat-light";
}

/* ---------------- doownload Bottons--------------------------- */

.dog-icon {
    transform: rotate(-20deg);

}

.download-button {
    margin: 5% 2% 5% 0;
}


/*----------------------feature------------------------ */
#feature {
    padding: 7% 15%;


}

.feature-sec {
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 8%;


}

h3 {
    font-family: 'Montserrat';
}

p {
    color: #928c8c;
}

.feature-box i {
    color: #f37b8d;
    margin-bottom: 20px;
}

.feature-box i:hover {
    color: #ff183b;
}

/*-------------------------- testimonials---------------------  */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    /* background-color: #f3667b; */
    background-color: #24849e;

    color: #fff;


}

h2 {
    font-family: 'Montserrat';
    font-size: 2rem;
    line-height: 1.5;
}

.testimonials-img {
    width: 15%;
    border-radius: 100%;
    transition: width 2s, height 2s, transform 2s;
}

.testimonials-img:hover {
    transform: rotate(360deg);
    transition-duration: 2s;
    /* width: 30%; */
}

.carousel-item {
    padding: 7% 15%;
}

/*--------------------press section ----------------------- */
#press {
    /* background-color: #f3667b; */
    background-color: #24849e;

    text-align: center;
    padding-bottom: 25px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;


}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* -----------------------Pricing section -----------*/
#pricing {
    padding: 100px;
    text-align: center;
}

.card {
    border-radius: 5%;
    padding: 5%;
    margin: 2% 5%;
    background-color: #F2F2F2;
    border: 1px solid #e2dcdc;
    box-shadow: 3px 5px #7D9D9C;
}



/*------------------------- CTA section ----------------------- */
#cta {
    padding: 7% 15%;
    text-align: center;
    /* background-color: #fa496c; */
    background-color: #325b66;
    color: #fff;


}

.cta-download {
    margin: 2% 1%;
}

.ctah {
    padding: 0 12rem;
    margin: 2% auto;
}

/*------------------------footer section ------------------------ */
#footer {
    padding: 7% 15%;
    text-align: center;
    background-color: #ffffff;


}

.footer-icon {
    padding: 2px 5px;
    cursor: pointer;
}

.fa-twitter:hover {
    color: #3AB0FF;
}

.fa-facebook-f:hover {

    color: #3AB0FF;
}

.fa-instagram:hover {
    color: #be1093
}

.fa-youtube:hover {
    color: #da2212;
}

.fa-snapchat:hover {
    color: #FFE400;

}

.para {
    color: rgb(0, 0, 0);
    margin-top: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#web-dev-info {
    background-color: #fff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}